@import "variables";

.above-navbar {
  position: absolute;
  background: transparent;
  max-width: 8%;
  max-height: 5%;
  z-index: @zindex-navbar-fixed;
}

.small-crest {
  .buttonz;
  font-size: 3vmin;
  padding: 1px;
  content: "\e801";
}

.logo {
  min-height: 2vh;
  max-height: 15vh;
  min-width: 2vw;
  max-width: 10vw;
  background-color: transparent;
  margin: 5px;
}

.logosubmit {
  min-height: 2vh;
  max-height: 18vh;
  min-width: 2vw;
  max-width: 15vw;
  background-color: transparent;
  margin: 5px;
}

.centered {
  align-self: center;
  align-content: center;
  align-items: center;

  text-align: center;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.middle-container {
  margin-left: 15px;
  margin-right: 15px;
}

.menu-container {
  max-width: 33%;
}

.middle-main {
  background: @background;
  max-width: 33%;
  padding-top: 1vh;
  padding-right: 0px;
}

.pad-right {
  padding-right: 1vw;
}

.text_line {
  clear: both;
}

.button-tooltip {
}

.buttonz {
  display: inline-block;
  font: normal normal normal 14px/1 buttonz_bdtem;
  font-size: 4vw;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: @zindex-navbar-fixed;
  vertical-align: middle;
}

.buttonz-small {
  .buttonz;
  font-size: 3vw;
}

.progress {
  background: transparent;
  height: 1vh;
  margin: 0;
  border: none;
  cursor: pointer;
}

.transport-bar {
  align-self: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}
