body {
    background-color: #000000;
    color: #FFFFFF;
        font-family: "Superclarendon", "Book Antiqua", "Palatino Linotype", serif;
}

img {
    border: none;
}

table {
    vertical-align: middle;
    table-layout: fixed;
    width: 90%;
    height: 76vh;
    text-align: center;
    border-collapse: collapse;
    line-height: 3.2vh;
}

.borderless {
    border: none;
}

tr td {
    border: none;
    font-size: 80%;

    align-self: center;
    text-align: center;
    align-content: center;
}

.littlebiggerfont {
    font-size: 94%;
}

.biggerfont {
    font-size: 108%;
    line-height: 5vh;
}

.bordered {
    border-left: none;
    border-right: none;
    border-top: 2pt solid #ffffff;
    border-bottom: 2pt solid white;
}


.stretched {

}


tr td:last-child {
    white-space: nowrap;
}

.shield {
    max-width: 3vw;
    max-height: 3vh;
}

.bottomless {
    vertical-align: middle;
    border-bottom: none;
}

.pull-down {
    position: relative;
    top: 1vmin;
}

.stretch_it {
    white-space: nowrap;
}

.justify {
    text-align: justify;
}

.orb {
    width: 570px;
    height: 540px;
    margin: 2% auto;
    background: url(http://couleurs.na.tl/rick/spriteSheet77.png);
    animation: play 5s steps(55) infinite;
}

@keyframes play {
    100% { background-position: -31350px }
}

.row .words {
    text-align: center;
    color: #ffffff;
    font-size: 1.8vmin;
    font-family: "Superclarendon", "Book Antiqua", "Palatino Linotype", serif;
    width: 53vmin;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#ffffff;
    line-height: 3vmin;
    padding-top:5px;
    padding-bottom: 5px;

}

.row .words-end {
    font-size: 2.2vmin;
    text-align: center;
    color: #ffffff;
    font-family: "Superclarendon", "Book Antiqua", "Palatino Linotype", serif;
    width: 53vmin;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#ffffff;
    line-height: 3vmin;
    padding-top:5px;
    padding-bottom: 5px;

}

.row .words-bottom {
    font-size: 2.3vmin;
    text-align: center;
    color: #ffffff;
    font-family: "Superclarendon", "Book Antiqua", "Palatino Linotype", serif;
    width: 53vmin;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#ffffff;
    line-height: 4vmin;
    padding-top:5px;
    padding-bottom: 5px;

}



