@import "variables";
@import "fonts";

.drawer-subheader {
  .sans-serif-light;
  line-height: 2vh;

}


.drawer-subheader-left {
  .drawer-subheader;

  padding-bottom: 4vh;
  padding-right: 1.75vw;

  align-self: right;
//  align-content: center;
  text-align: right;
}

.drawer-subheader-right {
  .drawer-subheader;

  padding-left: 4vw;
  padding-bottom: 6vh;
  align-self: left;
//  align-content: center;
  text-align: left;
}

.drawer-header {
  font-size: 2.75vmin;
  color: @text-color;
  font-family: "Libre Baskerville", serif;
  width: @sidr-width;
  margin-bottom: 3vh;
}

.drawer-header-left {
  .drawer-header;
  padding-left: 2vw;
  text-align: left;
}

.drawer-header-right {
  .drawer-header;

  padding-right: 2vw;
  text-align: right;
}

.menu-entry {
  font-weight: 700;
  letter-spacing: 0.15em;

}


.menu-words {

  border-top: transparent 20px;
  border-bottom: transparent 20px;
}

.left-menu-words {
  .menu-words;
}

.right-menu-words {
  .menu-words;
}


.track-menu-entry {
  .menu-entry;

  font-size: 0.96em;

  float: right;
  text-align: right;
  align-self: right;
  align-content: right;

  line-height: 4.5vh;
}

.story-menu-entry {
  .menu-entry;

  text-align: left;
  align-self: left;
  align-content: left;

  padding-left: 1.5vw;

  line-height: 8vh;

  text-shadow: #000011 1px;

  font-size: 2.5vmin;
  font-style: oblique;

  cursor: pointer;
}

.story-menu-entry-inactive {
  .story-menu-entry;

  cursor: default;
  color: lighten(@text-color, 50%);
}