@right-indent: 5vw;
@left-indent: 2vw;
@extra-left-indent: 5 * @left-indent;
@far-left-indent: 6 * @left-indent;

@signature-font-size: .9em;
@signature-left-indent: 6em;

@attachment-font-size: 1.2em;

@section-separation-size: .5em;



.email-header {
  font-family: "Calibri", sans-serif;
  color: #8c8c8c;
}

.indent {
  margin-left: @left-indent;
}

.indent-two {
  margin-left: 2 * @left-indent;
}

.extra-indent {
  padding-left: @extra-left-indent;
}

.far-indent {
  padding-left: @far-left-indent;
}

.sender {
  font-weight: bold;
}

.email-body {
  .indent;
  font-size: 1.1em;
  margin-right: @right-indent;
}

.signature {
  padding-left: @signature-left-indent;
  font-size: @signature-font-size;
  #after {
    .signature-images;
  }
}

.wernicke-font {
  font-family: "Libre Baskerville", serif;
}

.signature-images {
  max-width: 9%;
  padding-top: @section-separation-size;
}


.email-body-wernicke {
  .email-body;
  .wernicke-font;
  font-size: .8em;
  margin-right: (4/3) * @right-indent;
}

.wernicke-sig {
  .signature;
  .wernicke-font;
  font-size: .7em;

  #after {
    content: url(http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png);
  }
}


.secondlooks-font {
  font-family: "Courier New", monospace, serif;
}

.email-body-secondlooks {
  .email-body;
  .secondlooks-font;
}

.secondlooks-sig {
  .signature;
  .secondlooks-font;
  font-weight: bold;

  #after {
    content: url(http://i183.photobucket.com/albums/x129/tylercannan/Signatures/2ndLooksFinal_1.png);
  }
}


.ratified-font {
  font-family: "Tahoma", sans-serif;
}

.email-body-ratified {
  .email-body;
  .ratified-font;
}

//TODO, maybe this can be done better?
.first-letter {
  font-size: 1.2em;
}

.ratified-sig {
  .signature;
  .ratified-font;

  #after {
    content: url(http://i183.photobucket.com/albums/x129/tylercannan/Signatures/RatifiedFinal.png);
  }
}


.standards-font {
  font-family: 'Eurostile', sans-serif;
}

.email-body-standards {
  .email-body;
  .standards-font;
}

.standards-sig {
  .signature;
  .standards-font;

  #after {
    content: url(http://i183.photobucket.com/albums/x129/tylercannan/Signatures/StandardsFinal2.png);
  }
}


.archives-font {
  font-family: "Avenir Next", sans-serif;
}

.email-body-archives {
  .email-body;
  .archives-font;
}

.archives-sig {
  .signature;
  .archives-font;

  #after {
    content: url(http://i183.photobucket.com/albums/x129/tylercannan/Signatures/Archivesagain2.png);
  }
}


.innovations-font {
  font-family: "Arial", sans-serif;
  font-style: italic;
}

.email-body-innovations {
  .email-body;
  .innovations-font;
}

.innovations-sig {
  .signature;
  .innovations-font;

  #after {
    content: url(http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png);
  }
}


.data-font {
  font-family: "OCR A Std", monospace;
}

.email-body-data {
  .email-body;
  .data-font;
  margin-right: (27 / 30) @right-indent;
}

.data-sig {
  .data-font;
  .signature;

  #after {
    content: url(http://i183.photobucket.com/albums/x129/tylercannan/Signatures/DataFinal.png);
  }
}


.prologue {
  .email-header;
  font-size: .7em;
  width: 100%;
}

.attachment-font {
  font-family: "Calibri", sans-serif;
  font-size: @attachment-font-size;
}

.attachment-declare {
  .attachment-font;
  margin-left: 5 * @left-indent;
}

.attachment-list {
  .attachment-font;
  font-size: (1/1.2) * @attachment-font-size;
  margin-left: 8em;
}

.attachment-images {
  max-width: 20%;
  padding-top: @section-separation-size;
}
