@import "variables";

@font-face {
  font-family: 'buttonz_bdtem';
  src: url('../fonts/buttonz/buttonz_bdtem.eot?38791276');
  src: url('../fonts/buttonz/buttonz_bdtem.eot?38791276#iefix') format('embedded-opentype'),
  url('../fonts/buttonz/buttonz_bdtem.woff?38791276') format('woff'),
  url('../fonts/buttonz/buttonz_bdtem.ttf?38791276') format('truetype'),
  url('../fonts/buttonz/buttonz_bdtem.svg?38791276#buttonz_bdtem') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'crest';
  src: url('../fonts/crest/playcrests.eot?25532730');
  src: url('../fonts/crest/playcrests.eot?25532730#iefix') format('embedded-opentype'),
  url('../fonts/crest/playcrests.woff?25532730') format('woff'),
  url('../fonts/crest/playcrests.ttf?25532730') format('truetype'),
  url('../fonts/crest/playcrests.svg?25532730') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sans-serif {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: lighten(@text-color, 20%);
}

.sans-serif-light {
  .sans-serif;
  font-weight: 300;
}

.stretch {
  display: inline-block;
  -webkit-transform: scale(1, 2); /* Safari and Chrome */
  -moz-transform: scale(1, 2); /* Firefox */
  -ms-transform: scale(1, 2); /* IE 9 */
  -o-transform: scale(1, 2); /* Opera */
  transform: scale(1, 2); /* W3C */
}