@import "variables";

@sidr-width: 25vw;
@sidr-hide-width: -@sidr-width;

.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: @navbar-height;
  max-height: (100vh - 2*@navbar-height);
  z-index: 1000;

  min-width: @sidr-width;
  max-width: @sidr-width;
  overflow-x: none;
  overflow-y: auto;
}

.sidr.right {
  left: auto;
  right: @sidr-hide-width;
  height: 100%;
}

.sidr.left {
  left: @sidr-hide-width;
  right: auto;
  height: 100%;
}


.menu-button {
  position: absolute;
<<<<<<< HEAD
=======
  display: inline;
>>>>>>> 54938b80031f8a4b6e465b6251c5cf99e82e6e32
  top: 40vh;
  z-index: 1000;
  font-family: "Superclarendon";

  text-decoration: none;

  &:hover, &:focus {
    color: @text-color;
    text-decoration: none;
  }

<<<<<<< HEAD
  background-color: rgba(0,0,0,0.6);
  border: 10vmin transparent;
=======
}

.menu-spaced {
  letter-spacing: 0.2vw;
>>>>>>> 54938b80031f8a4b6e465b6251c5cf99e82e6e32
}

.left-menu-button {
  .menu-button;
<<<<<<< HEAD
  border-top-right-radius: 10vmin;
  border-bottom-right-radius: 10vmin;
  padding-right: 5vw;
=======
  border-top-left-radius: 2vmin;
  border-bottom-left-radius: 2vmin;
  padding-left: 0.5vw;
}

left-words {
  -webkit-transition: letter-spacing 1s;
  -moz-transition: letter-spacing 1s;
  -ms-transition: letter-spacing 1s;
  -o-transition: letter-spacing 1s;
  transition: letter-spacing 1s;
}

right-words {
  -webkit-transition: letter-spacing 1s;
  -moz-transition: letter-spacing 1s;
  -ms-transition: letter-spacing 1s;
  -o-transition: letter-spacing 1s;
  transition: letter-spacing 1s;
>>>>>>> 54938b80031f8a4b6e465b6251c5cf99e82e6e32
}

.right-menu-button {
  .menu-button;

  float: right;
  right: 0vw;

<<<<<<< HEAD
  border-top-left-radius: 10vmin;
  border-bottom-left-radius: 10vmin;
  padding-left: 1vw;
=======
  border-top-right-radius: 2vmin;
  border-bottom-right-radius: 2vmin;
  padding-right: 0.5vw;
}



@media screen and (max-width: 1000px) {

  .left-menu-button {

    ::before {
      content: "test";
    }

    ::after {
      content: 'bleep';
    }
  }


  .left-menu-button {

    ::before {
      content: "test";
    }

    ::after {
      content: 'bleep';
    }
  }

  .right-menu-button {
    ::after {
      content: 'bloop';
    }
  }


>>>>>>> 54938b80031f8a4b6e465b6251c5cf99e82e6e32
}
