@import "variables";

@sidr-width: 25vw;
@sidr-hide-width: -@sidr-width;

.sidr {
    display: none;
    position: absolute;
    position: fixed;
    top: @navbar-height;
    max-height: (100vh - 2*@navbar-height);
    z-index: 999999;

    min-width: @sidr-width;
    max-width: @sidr-width;
    overflow-x: none;
    overflow-y: auto;
 }

.sidr.right {
    left: auto;
    right: @sidr-hide-width;
}

.sidr.left {
    left: @sidr-hide-width;
    right: auto
}