@background: #000000;
@text-color: #F0F0F0;

@progress-bar-color: #FFFFFF;
@progress-bar-bg: #FFFFFF;
@progress-bg: #000000;

@link-color: #FFFFFF;
@link-hover-color: darken(@link-color, 30%);
@popover-bg: #000000;

@navbar-height: 5vh;
