@import "variables";
@media screen and (min-width: 641px) {
    .middle-video-container-base {
      max-height: 70vh;
      max-width: 960px;
      padding-bottom: @navbar-height;

      margin: 5vh auto;

      align-content: center;
      align-self: center;
      align-items: center;

      vertical-align: middle;

    }

    .middle-video-container {
      .middle-video-container-base;
    }

    .sidr-open .middle-video-container {
      .middle-video-container-base;
    }
}
@media screen and (max-width: 640px){
    .middle-video-container{
        display:none;
    }
}
videogular {
  max-width: 960px;
  max-height: 70vh;
  margin: auto;
}

@keyframes play {
  100% {
    background-position: -31350px
  }
}
@-webkit-keyframes play {
  100% {
    background-position: -31350px
  }
}
@-moz-keyframes play {
  100% {
    background-position: -31350px
  }
}
@keyframes play {
  100% {
    background-position: -31350px
  }
}

.videogular-poster-img-container {
  min-width: 570px;
  max-width: 960px;
  min-height: 40vh;
  max-height: 70vh;
  background-color: @background;

  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

.videogular-poster-img {

  align-items: center;
  align-self: center;
  text-align: center;

  display: inline-block;
  margin: 0 auto;

  min-width: 570px;
  max-width: 570px;

  min-height: 540px;
  max-height: 540px;

  background: url('http://couleurs.na.tl/rick/spriteSheet77.png');
  animation: play 7s steps(55) infinite;
  -webkit-animation: play 7s steps(55) infinite; /* Safari 4+ */
  -moz-animation: play 7s steps(55, end) infinite; /* Fx 5+ */
  -o-animation: play 7s steps(55) infinite; /* Opera 12+ */
  animation-direction: alternate-reverse;
  -webkit-animation-direction: alternate;
}
