@import "variables";

.middle-video-container {
  max-height: 65vh;
  max-width: 55vw;

  z-index: 200;

  margin: 0 auto;

  overflow: hidden;

  vertical-align: middle;
}

.metadata-content {
  overflow: hidden;
  height: 55vh;
}

.metadata-content:hover, .metadata-content:focus {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0.5vw;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: @text-color;
  border: solid 1px @text-color;
  height: 0.5vh;
}

@keyframes play {
  100% {
    background-position: -31350px
  }
}

@-webkit-keyframes play {
  100% {
    background-position: -31350px
  }
}

@-moz-keyframes play {
  100% {
    background-position: -31350px
  }
}

@keyframes play {
  100% {
    background-position: -31350px
  }
}

ui-view {
  display: block;
  margin: auto;
}

videogular vg-time-display, [videogular] vg-time-display {
  font-family: "Raleway";
}

videogular div.custom-button {
  .sans-serif;
  color: @background;
  display: table-cell;
  width: 50px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.orb {
  cursor: pointer;
  margin: 0 auto;
  margin-top: -10vh;

  display: block;
  z-index: 200;

  min-width: 570px;
  max-width: 570px;

  min-height: 540px;
  max-height: 540px;

  background: url('http://couleurs.na.tl/rick/spriteSheetTransparent.png');

  animation: play 7s steps(55) infinite;
  -webkit-animation: play 7s steps(55) infinite; /* Safari 4+ */
  -moz-animation: play 7s steps(55, end) infinite; /* Fx 5+ */
  -o-animation: play 7s steps(55) infinite; /* Opera 12+ */
  animation-direction: alternate-reverse;
  -webkit-animation-direction: alternate;

}
