@import "variables";

@middle-max-height: 95vh;
@middle-max-width: 45vw;

.middle-video-container {
  max-height: @middle-max-height;
  max-width: @middle-max-width;
  z-index: 200;
  margin: 0 auto;
  overflow: hidden;
  vertical-align: middle;
}

.metadata-content, .metadata-content-overflow {
  vertical-align: text-top;
  font-size: 1.25em;
  max-width: 100%;
  line-height: 4vh;
  overflow: hidden;
  height: 51vh;

  padding-right: 2vw;
}

.center-align-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.metadata-content-overflow:hover, .metadata-content-overflow:focus {
  -moz-padding-end: 1vw;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0.5vw;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  .selectable;
  background-color: @text-color;
  border: solid 1px @text-color;
  height: 0.5vh;
}

@keyframes play {
  100% {
    background-position: -31350px
  }
}

@-webkit-keyframes play {
  100% {
    background-position: -31350px
  }
}

@-moz-keyframes play {
  100% {
    background-position: -31350px
  }
}

@keyframes play {
  100% {
    background-position: -31350px
  }
}

ui-view {
  display: block;
  margin: 0 auto;
}

videogular div.custom-button {
  .sans-serif-light;
  color: @background;
  font-size: 14px;
  display: table-cell;
  width: 50px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding-right: 8px;
}

.ui-view-positioning {
  margin: 0 auto;
  z-index: 200;
}

.ui-view-wide {
  .ui-view-positioning;
  max-width: 55%;
  max-height: @middle-max-height;
  min-height: @middle-max-height;
}

.middle-display {
  .ui-view-positioning;
  cursor: pointer;
}

.orb {
  width: 570px;
  height: 540px;

  .middle-display;
  background: url('http://192.3.134.38/rick/spriteSheetTransparent.png');

  animation: play 7s steps(55) infinite;
  -webkit-animation: play 7s steps(55) infinite; /* Safari 4+ */
  -moz-animation: play 7s steps(55, end) infinite; /* Fx 5+ */
  -o-animation: play 7s steps(55) infinite; /* Opera 12+ */
  animation-direction: alternate-reverse;
  -webkit-animation-direction: alternate;
}
