@import "fonts";
@import "bower_components/videogular-themes-default/videogular.css";


videogular vg-time-display, [videogular] vg-time-display {
  .sans-serif-light;
  color: #FFFFFF;
  display: table-cell;
  width: 75px;
  vertical-align: middle;
  text-align: center;
  cursor: default;
}

