@font-face {
  font-family: 'buttonz_bdtem';
  src: url('../font/buttonz_bdtem.eot?38791276');
  src: url('../font/buttonz_bdtem.eot?38791276#iefix') format('embedded-opentype'),
       url('../font/buttonz_bdtem.woff?38791276') format('woff'),
       url('../font/buttonz_bdtem.ttf?38791276') format('truetype'),
       url('../font/buttonz_bdtem.svg?38791276#buttonz_bdtem') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'buttonz_bdtem';
    src: url('../font/buttonz_bdtem.svg?38791276#buttonz_bdtem') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "buttonz_bdtem";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-contact:before { content: '\e800'; } /* '' */
.icon-share_straight:before { content: '\e801'; } /* '' */
.icon-donate-straight:before { content: '\e802'; } /* '' */
.icon-fast_forward:before { content: '\e803'; } /* '' */
.icon-donate:before { content: '\e804'; } /* '' */
.icon-rewind:before { content: '\e805'; } /* '' */
.icon-metadata:before { content: '\e806'; } /* '' */
.icon-play:before { content: '\e807'; } /* '' */
.icon-news-straight:before { content: '\e808'; } /* '' */
.icon-contact-straight:before { content: '\e809'; } /* '' */
.icon-news:before { content: '\e80a'; } /* '' */
.icon-share:before { content: '\e80b'; } /* '' */