body {
    background-color: #000000; color: #FFFFFF; font-family: "Book Antiqua";
}

table {
    table-layout: fixed; width: 30%; text-align: center; border: 2pt solid white; border-collapse: collapse;
    line-height: 180%;
}

.bottomless {
    table-layout: fixed; width: 30%; text-align: center; border: 2pt solid white; border-collapse: collapse;
    line-height: 180%; border-bottom: none
}