<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="bdtem" class="ng-scope"> <!--<![endif]-->

<head>

    <!-- build:js scripts/main.js -->
    <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <script src="bower_components/angular-media-player/src/directive.js"></script>
    <script src="bower_components/angular-media-player/src/helpers.js"></script>


    <!-- main app -->
    <script src="js/filters.js"></script>
    <script src="js/bdtem.js"></script>

    <!-- build:js scripts/vendor/bootstrap.js -->
    <script src="bower_components/bootstrap/js/affix.js"></script>
    <script src="bower_components/bootstrap/js/alert.js"></script>
    <script src="bower_components/bootstrap/js/tooltip.js"></script>
    <script src="bower_components/bootstrap/js/button.js"></script>
    <script src="bower_components/bootstrap/js/popover.js"></script>
    <script src="bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

</head>


<body style="background-color: #000000; background-repeat: no-repeat !important;">

<nav style="border: none" class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="btn-group btn-group-justified">

        <span><img class="logo" src="images/logo_transparent.png"/></span>

        <button class="btn btn-link btn-lg pull-right">
            <span class="fa fa-share"></span>
        </button>

        <button class="btn btn-link btn-lg pull-right">
            <span class="fa fa-envelope"></span>
        </button>

        <button class="btn btn-link btn-lg pull-right">
            <span class="fa fa-phone"></span>
        </button>

        <button class="btn btn-link btn-lg pull-right">
            <span class="fa fa-dollar"></span>
        </button>
    </div>

</nav>

<div class="media-body left pull-left" style="background-image: url(./images/DreamSmall.gif)">

    <div class="container pull-left">
        <img src="images/mockup.png">
    </div>

</div>

<nav id="playlistnavbar" style="border: none" class="navbar navbar-default navbar-fixed-bottom" role="navigation">

    <div ng-controller="PlaylistCtrl as playlist" class="ng-scope">

        <audio id="bdtemplayer" media-player="bdtemplayer" data-playlist="songs"></audio>

        <div style="height: 50px; align-self: center; align-content: center; text-align: center; margin: 0 auto;"
             id="progressbar" ng-click="seekFromProgressBar($event)">
            <progress value={{bdtemplayer.currentTime}} max="{{bdtemplayer.duration}}"></progress>
        </div>

        <div style="align-content: center; align-self: center; text-align: center">
            {{bdtemplayer.currentTime | timeFilter }} / {{bdtemplayer.duration | timeFilter}}
        </div>

        <div style="align-self: center; align-content: center; text-align: center; margin: 0 auto;">
            <div class="btn" ng-click="prev()">
                <i class="fa fa-fast-backward"></i>
            </div>
            <div class="btn" ng-click="mySpecialPlayButton()">
                <i class="fa fa-play"
                   ng-class="{ 'fa-pause': bdtemplayer.playing, 'fa-play': !bdtemplayer.playing }"></i>
            </div>
            <div class="btn" ng-click="next()">
                <i class="fa fa-fast-forward"></i>
            </div>

            <div class="btn"
                 id="metadata"
                 title="{{titles[bdtemplayer.currentTrack] | uppercase}}"
                 data-placement="top"
                 data-container="nav"
                 data-toggle="popover"
                 data-content="{{metadata[bdtemplayer.currentTrack] | uppercase}}"
                 onclick="$('#metadata').popover();"
                    >
                <i class="fa">
                    &#xf05a;
                </i>
            </div>
        </div>
    </div>
</nav>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

</body>

</html>