<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="bdtem"> <!--<![endif]-->
<head>
    <!-- build:js scripts/main.js -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <link type="application/octet-stream" href="styles/main.less"/>

    <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.sidr.min.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="bower_components/videogular/videogular.js"></script>
    <script src="scripts/videogular/controls.js"></script>
    <script src="scripts/videogular/overlay-play.js"></script>
    <script src="scripts/videogular/poster.js"></script>
    <script src="bower_components/videogular-buffering/buffering.js"></script>

    <script src="bower_components/angular-media-player/src/directive.js"></script>
    <script src="bower_components/angular-media-player/src/helpers.js"></script>
    <script src="bower_components/angular-hotkeys/build/hotkeys.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- main app -->
    <script src="js/filters.js"></script>

    <script src="js/bdtem.js"></script>
    <script src="js/metadata.js"></script>
    <script src="js/PlaylistCtrl.js"></script>
    <script src="js/jquery_fns.js"></script>

    <!-- build:js scripts/vendor/bootstrap.js -->
    <script src="bower_components/bootstrap/js/affix.js"></script>
    <script src="bower_components/bootstrap/js/alert.js"></script>
    <script src="bower_components/bootstrap/js/tooltip.js"></script>
    <script src="bower_components/bootstrap/js/button.js"></script>
    <script src="bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

</head>


<body>

<div class="container centered navbar-container">

    <nav class="centered navbar navbar-default navbar-fixed-top" role="navigation"
         ng-controller="ButtonsCtrl as buttonsController">
        
        <div class="centered btn-group" ng-repeat="button in buttons">

            <button id="button-{{button.purpose}}" class="btn padded" ng-click="button.action()">
                {{button.tooltip}}
            </button>

        </div>
    </nav>
</div>


<left href="#" class="fa left-menu-button menu-spaced superclarendon" id="tracks-menu-toggle">
||<br/>
||||<br/>
|||||||<br/>
||||||||||<br/>
<left-words class="left-menu-words" id="left-menu-words">Album<br/></left-words>
||||||||||<br/>
|||||||<br/>
||||<br/>
||<br/>
</left>

<nav id="menu-container" >

    <div id="tracks-menu" class="sidr middle-main" ng-controller="MiddleCtrl as middle">

        <div class="">
            <div class="words">
                <div
                     style="border-top-style: solid; border-top-width: 2px; border-top-color:#ffffff; padding-top: 5px;">
                    <span class="bdtem-track1 stretched" style="letter-spacing:5px">IF ALL THAT WAS SAID</span><br/>
                    <span class="bdtem-track1 stretched" style="letter-spacing:3px">ABOUT <em>THOSE THAT ARE DEAD</em></span><br/>
                    <span class="bdtem-track6 stretched" style="letter-spacing:5px">WAS COMPILED IN A BOOK</span><br/>
                    <span class="bdtem-track6 stretched" style="letter-spacing:5px"> AND LEFT IN A NOOK</span><br/>
                    <span class="bdtem-track12 stretched" >I'D BE HAPPY TO READ</span><br/>
                    <span class="bdtem-track12 stretched" >OF HARROWING DEEDS</span><br/>
                    <span class="bdtem-track12 stretched" style="letter-spacing:.5px">BUT I'D LIKE NOT TO KNOW THE ENDING</span>
                </div>
            </div>

            <div class="words" style="letter-spacing: .6px">
                <div  style="line-height: 3vmin;">
                    <a class="bdtem-track2" ng-click="skipToTrack(1)">HESITATING SUN</a>

                    <div class="small-crest">&#xe801;</div>

                    <a class="bdtem-track3" ng-click="skipToTrack(2)">FUTURE IS BLEAKER</a><br/>
                   <span style="padding-right:3px">
                       <a class="bdtem-track4" ng-click="skipToTrack(3)">FEEL THE SAME</a>
                   </span>

                    <div class="small-crest">&#xe801;</div>
                    <span style="padding-left: 3px">
                        <a class="bdtem-track5" ng-click="skipToTrack(4)">SIT ON A DREAM</a>
                    </span><br/>
                    <a class="bdtem-track7" ng-click="skipToTrack(6)">THE DEBATE</a>

                    <div class="small-crest">&#xe801;</div>
                    <a class="bdtem-track8" ng-click="skipToTrack(7)">WORKING AT FIRST</a><br/>
                    <a class="bdtem-track9" ng-click="skipToTrack(8)">TRIED TO BE</a>

                    <div class="small-crest">&#xe801;</div>
                    <a class="bdtem-track10" ng-click="skipToTrack(9)">THE BASEMENT</a><br/>
                    <a class="bdtem-track11" ng-click="skipToTrack(10)">ONE LEVEL AT A TIME</a><br/>
                    <a class="bdtem-track13" ng-click="skipToTrack(12)">THE END</a><br/><br/>

                    <img src="images/SmallerScrollsTransBetter.png" style="max-width: 12vh; max-height: 7vw"/>

                    <br/>
                    <a class="pull-left" ng-click="skipToTrack(0)">PLAY ALL</a>

                    <a class="pull-right" href="audio/bdtem.zip">DOWNLOAD</a>
                </div>
            </div>

            <div class="words-end">
                <div class="col-md-12"><span style="letter-spacing: 5px"><em>DEY CO. / DEY IND.</em></span><br/>
                    <span style="letter-spacing: 15px"><strong>PRESENTS</strong></span><br/>
                    <span style="letter-spacing: 2px">BOB DEY'S TANK ENGINE MAN</span>
                </div>
            </div>
            <br/><br/><br/>
            <div class="words-bottom">
                <span style="letter-spacing: 15px;"><em>BEFORE LIFE</em></span><br/>
                <span style="letter-spacing: 13px;"><em>AFTER DEATH</em></span>
            </div>
        </div>


    </div>

</nav>

    <div class="middle-video-container" ng-controller="VideoCtrl as controller">
        <videogular vg-player-ready="controller.onPlayerReady" class="middle-video" vg-theme="controller.config.theme">
            <vg-video vg-src="controller.config.sources"
                      vg-tracks="controller.config.tracks">
            </vg-video>

            <vg-overlay-play></vg-overlay-play>
            <vg-poster-image vg-url='controller.config.plugins.poster'></vg-poster-image>

            <vg-controls vg-autohide="true" vg-autohide-time="500">
                <div class="pull-right pad-right">
                    <vg-volume>
                        <vg-mutebutton></vg-mutebutton>
                        <vg-volumebar></vg-volumebar>
                    </vg-volume>
                </div>
            </vg-controls>

        </videogular>
    </div>

<nav id="podcasts-container" >

    <div id="podcast-menu" class="sidr middle-main" >

        <div class="podcasts">

            There are definitely going to be some podcasts here.<br/>
            <br/>
            At some point.<br/>
            <br/>
            They'll probably be fun to listen to.

            <br/><br/><br/><br/>
            Lorem ipsum, motherfucker.
        </div>

    </div>
    </nav>

<right class="fa right-menu-button menu-spaced pull-right righted" id="podcast-menu-toggle">
    ||<br/>
    ||||<br/>
    |||||||<br/>
    ||||||||||<br/>
    <right-words class="right-menu-words" id="right-menu-words">Podcast<br/></right-words>
    ||||||||||<br/>
    |||||||<br/>
    ||||<br/>
    ||<br/>
</right>





<nav id="playlistnavbar" class="navbar navbar-default navbar-fixed-bottom"
     role="navigation"
     ng-controller="PlaylistCtrl as playlist">

    <div id="bottomBar">
        <audio id="bdtemplayer" media-player="bdtemplayer" data-playlist="songs"></audio>

        <progressbar ng-click="seekFromProgressBar($event)" anim    ate="false"
                     value="(currentTime / currentDuration) * 100" max="100"></progressbar>

        <div class="transport-bar">
            <div class="btn buttonz" ng-click="prevTrack()">
                &#xe807;
            </div>
            <div class="btn buttonz" ng-click="nextTrack()">
                &#xe802;
            </div>
            <div class="btn" ng-click="bdtemPlayPause()">
                <i class="fa fa-play"
                   ng-class="{ 'fa-pause': bdtemplayer.playing, 'fa-play': !bdtemplayer.playing }"></i>
            </div>

            <div class="btn buttonz-small"
                 popover="{{metadata[bdtemplayer.currentTrack].description}}"
                 popover-title="{{getMetadataTitle()}}"
                 popover-placement="top"
                 popover-trigger="click"
                    >
                &#xe804;
            </div>

            <div id="volumeToggle" class="btn buttonz-small">
                <span class="btn buttonz-small" ng-click="toggleVolumeBar()">&#xe809;</span>
                <input id="volumeBar" ng-show="showVolumeBar" class='above-navbar fa-rotate-270' value='1' min='0'
                       max='1' step='0.01' type='range' ng-model='volume'/>
            </div>

        </div>
    </div>
</nav>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


</body>

</html>