<div ng-controller="ContactCtrl as contact">

    <p class="centered">If for any reason you need to contact us, put your message here.  It will be redirected upon receipt.</p>

    <form novalidate class="simple-form">

        <table class="borderless">
            <tr class="borderless">
                <td>
                    <label for="email">
                        Your E-Mail:
                    </label>
                </td>
                <td>
                    <input id="email" ng-model="contact.email"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="subject">
                        What is this concerning?
                    </label>
                </td>
                <td>
                    <input id="subject" ng-model="contact.subject"/>
                </td>
            </tr>

            <tr>
            </tr>

            <tr>
                <td>
                    <label for="content">
                        Something You Don't Not Want To Say:
                    </label>
                </td>

                <td>
                    <textarea id="content" ng-model="contact.content"></textarea>
                </td>

            </tr>

            <tr class="centered">
                <td colspan="2" class="centered">
                    <input type="image"
                           class="logo"
                           style="text-align: center"
                           name="submit"
                           ng-click="$close('submitted'); submitContact(contact)"
                           src="images/shield.png"
                           alt="Tell me a secret."/>
                </td>
            </tr>


        </table>
    </form>
</div>
