<div ng-controller="ContactCtrl as contact">



    <br/>

    <form novalidate class="simple-form">
        <div><label for="email">
            E&nbsp; M&nbsp;A&nbsp;I&nbsp;L&nbsp;
        </label>

            <input id="email" ng-model="contact.email"/>

        </div>

        <br/>

        <div>
            <label for="subject">
                S&nbsp;U&nbsp;B&nbsp;J&nbsp;E&nbsp;C&nbsp;T&nbsp;
            </label>

            <input id="subject" ng-model="contact.subject"/>

        </div>

        <br/>

        <div>
            <label for="content">
                M&nbsp;E&nbsp;S&nbsp;S&nbsp;A&nbsp;G&nbsp;E&nbsp;
            </label>

            <textarea id="content" ng-model="contact.content"></textarea>
        </div>

        <br/>

        <div class="centered">
            <input type="image"
                   class="logo"
                   style="text-align: center"
                   name="submit"
                   ng-click="$close('submitted'); submitContact(contact)"
                   src="images/logo.png"
                   alt="Tell me a secret."/>
            <br/>S&nbsp;U&nbsp;B&nbsp;M&nbsp;I&nbsp;T
        </div>
    </form>
</div>
