<div ng-controller="ContactCtrl as contact">



    <br/>

    <form novalidate class="simple-form" style ="letter-spacing: .5vw">
        <div><label for="email">
            EMAIL
        </label>

            <input class="pull-right" id="email" ng-model="contact.email"/>

        </div>

        <br/>

        <div>
            <label for="subject">
               SUBJECT
            </label>

            <input class="pull-right" id="subject" ng-model="contact.subject"/>

        </div>

        <br/>

        <div>
            <label for="content">
                MESSAGE
            </label>

            <textarea id="content" ng-model="contact.content"></textarea>
        </div>

        <br/>

        <div class="centered">
            <input type="image"
                   class="logo"
                   style="text-align: center"
                   name="submit"
                   ng-click="$close('submitted'); submitContact(contact)"
                   src="images/logo.png"
                   alt="Tell me a secret."/>
        </div>
    </form>
</div>
