<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <p style="text-align: center"> The events catalogued on this website did not take place. <br/><br/>
        Please donate by clicking the crest so that you might be able to hear more about them. </p>
    <input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id"
                                                             value="46AXS8RCWJZBJ">
    <div class="centered"><input class="logo" type="image" src="images/shield.png" name="submit" alt="Give rick some dough!"></div>
</form>