<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" ng-controller="DonateCtrl as donate">
    <p style="text-align: center; letter-spacing: .2vw"> <br/>The events catalogued on this website <br/>did not take place. <br/>
        If you want to hear more about them,<br/><br/> PLEASE <br/>CONSIDER<br/> DONATING. </p><br/><br/>
    <input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id"
                                                             value="46AXS8RCWJZBJ">
    <div class="centered" ng-click="$close('clicked')"><input class="logo" type="image" src="images/logo.png" name="submit">
    <p><span style="font-size: 7pt">CLICK THE CREST</span></p>
    </div>

</form>