<div class="ui-view-wide selectable" style="padding-top: 10px; overflow: auto" ng-controller="EmailChainCtrl as ctrl">

    <bdtem-email-chain-dot></bdtem-email-chain-dot>

    <h1 class="email-header">
        <hr/>
        Project Approval: Archive
        <hr/>
    </h1>

    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Forwarded Message ---- </span> <br/>
        To: <span class="sender"> M. Jumper </span> &ltjumper@archive.bdtem.co.in&gt <br/>
        From: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        <span class="indent"> Thurs. Sept. 29, 10:07 AM </span> <br/>
        Subject: FW: Archive Intro
    </div>
    <br/>
    <br/>
    <br/>

    <div>
            <span class="email-body-wernicke">It's time to reverse the mystery. To go below and look under <br/>
            <span class="extra-indent"> and under </span> <br/>
            <span class="far-indent"> and under. </span>
            </span>

    </div>
    <br/>
    <br/>

    <div class="wernicke-sig">
        C. Wernike <br/>
        Dept. of BLANK <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png"
             class="signature-images">
    </div>


    <!-- EMAIL 2-->
    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- New Message ---- </span> <br/>
        To: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        From: <span class="sender"> Dept. of 2nd Looks </span> &ltrevisions@variations.dey.co.in&gt <br/>
        <span class="indent"> Tues. Sept. 27, 2:01 PM </span> <br/>
        Subject: Archive Intro
    </div>
    <br/>
    <br/>

    <div class="email-body-secondlooks">
        Mr. Jumper, et. al, <br/><br/>

        The revised Project Introduction Video is ready for placement within the BDTEM Archive Project. As you
        requested, it is a large, black dot. <br/><br/>
        The rest of the archive is now yours to complete. Good luck.

    </div>
    <br/>
    <br/>

    <div class="secondlooks-sig">
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/2ndLooksFinal_1.png"
             class="signature-images"><br/>
        Dept. of 2nd Looks <br/>
        and Variations<br/>

    </div>


    <!-- EMAIL 3-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- New Message ---- </span> <br/>
        To: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt&#59; <span class="sender"> Dept. of Archives </span>
        &ltcwhist@archive.dey.co.in&gt <br/>
        From: <span class="sender"> Dept. of Ratified </span> &ltwpastel@ratified.dey.co.in&gt <br/>
        <span class="indent"> Wed. Sept. 21, 3:18 PM</span> <br/>
        Subject: Archive Project Approval
    </div>
    <br/>
    <br/>


    <div class="email-body-ratified">
        <span class="first-letter">C</span>ongratulations, your proposal for the BDTEM Archive Project has been
        approved. <br/><br/>

        <span class="indent"><span class="first-letter">T</span>he Project Mandate is as follows: </span><br/>
        1. Complete the archive by further collection and accurate recreation of relevant artifacts (narrative accounts
        of events, reconstruction of deliverables, etc.)<br/>
        2. Develop and implement a Contextually Comprehensive method of organization.<br/>
        3. Provide access to the BDTEM Project as both official record and object of utility. <br/><br/>

        <span class="first-letter">M</span>ark Jumper will be reinstated as an employee of DC/DI and made Project Leader
        within the Dept. of Archives by the end of the week. in the meantime, Mr. Jumper will need to help the Dept. of
        2nd Looks finalize the revisions to the initial proposal. <br/><br/>

        ***Please note, this is a special project within DC/DI and thus requires its own funding source. See Funding
        Manual 99.0.P for more information.

    </div>
    <br/>
    <br/>

    <div class="ratified-sig">
        <span class="first-letter">W</span>ilomena <span class="first-letter">P</span>astel <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/RatifiedFinal.png"
             class="signature-images"><br/>
        Department of<br/>
        Ratified Authorization

    </div>


    <!-- EMAIL 4-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Forwarded Message ---- </span> <br/>
        To: <span class="sender"> Dept. of Ratified </span> &ltwpastel@ratified.dey.co.in&gt&#59; <span class="sender"> Dept. of 2nd Looks </span>
        &ltrevisions@variations.dey.co.in&gt <br/>
        From: <span class="sender"> Dept. of Standards </span> &ltitalo@standards.dey.co.in&gt <br/>
        <span class="indent"> Mon. Sept. 19, 1:36 PM</span> <br/>
        Subject: FW: Archive Request
    </div>
    <br/>
    <br/>


    <div class="email-body-standards">
        Wilomena, <br/> <br/>
        This came through the pipeline. It's something Archives wants to make with Mark Jumper from the Bob Dey's Tank
        Engine Man Project. (I didn't know he was back.)<br/>
        1st looks and Prototypes already had a look at it, Innovations, too, so it's been through the process. I sent it
        down to Dept. of 2nd Looks with some revision recommendations. They'll send the finished work along when it's
        done.<br/>
        Take a look and approve it if you see fit. Seems like a shoe-in with all that company support.

    </div>
    <br/>
    <br/>

    <div class="standards-sig">
        Italo <br/>

        Department of<br/>
        High Standards <br/>
        and Second Guessing<br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/StandardsFinal2.png"
             class="signature-images">

    </div>


    <!-- EMAIL 5-->


    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Forwarded Message ---- </span> <br/>
        To: <span class="sender"> Dept. of Standards </span> &ltitalo@standards.dey.co.in&gt <br/>
        From: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        <span class="indent"> Mon. Sept. 19, 10:22 AM</span> <br/>
        Subject: FW: Archive Request
    </div>
    <br/>
    <br/>


    <div class="email-body-archives">
        Italo, <br/><br/>

        I'm forwarding a proposal written by a former employee, Mark Jumper, for a project he claims to be an achieve,
        but which does not fit within the Mandate of the Dept. of Archives. It seems to me that he would be better off
        reinstating the BDTEM Project than spending his days down here. <br/><br/>

        Will you send the proposal, with this revision to the project definition, through the approval process so I can
        get him off my back? <br/><br/>

        It would really help me out. <br/><br/>

        Cheryl

    </div>
    <br/>
    <br/>

    <div class="archives-sig">

        Department of Archives<br/>

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/Archivesagain2.png"
             class="signature-images">

    </div>


    <!-- EMAIL 6-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        From: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        <span class="indent"> Fri. Sept. 16, 11:00 PM</span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>


    <div class="email-body-wernicke">
        Cheryl, <br/><br/>
        I am the mountain lake. I overlook the valley from the mountain.<br/>
        Behold the mountain from the valley, the archive is your yonder summit.<br/>
        My waters spill down the mountain to the valley.<br/><br/>
        You are simply wrong in your obstinance. <br/><br/>
        Attached are explanations that describe a better BDTEM Archive in both purpose and function; as well as
        prototype designs which offer improved methods for the fulfillment of each charge of your mandate.<br/><br/>

        My hope is that you will finally come to understand what I am doing and why I am doing it. <br/><br/>

        That you will know my goal and want what I want. <br/><br/><br/>

        Mark Jumper

    </div>
    <br/>
    <br/>

    <div class="wernicke-sig">
        C. Wernike <br/>
        Dept. of BLANK <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png"
             class="signature-images">
    </div>
    <br/>

    <div class="attachment-declare">

        5 Attachments

    </div>

    <br/>
    <br/>

    <div class="attachment-list">

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Attachment%20Images/NewBoxMergedDrawersOutAutoUnhidCrest.png"
             class="attachment-images"><br/>
        The BDTEM Archive Project <br/><br/>

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Attachment%20Images/FAQMock.png"
             class="attachment-images"><br/>
        Argument for Completion<br/><br/>

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Attachment%20Images/GraveWampB_New.png"
             class="attachment-images"><br/>
        Argument for Standardized Interpretation<br/><br/>

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Attachment%20Images/TrDeskBetter.png"
             class="attachment-images"><br/>
        Argument for Archive as Object of Utility<br/><br/>

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Attachment%20Images/PageGrid1.png"
             class="attachment-images"><br/>
        Explanation of Contextually Comprehensive Chronology

    </div>


    <br/>
    <br/>
    <br/>
    <br/>


    <h1 class="email-header">
        <hr/>

        Project Development: Archive
        <hr/>
    </h1>


    <!-- EMAIL 7-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt&#59; <span class="sender"> Dept. of Innovations </span>
        &ltanyone@innovations.dey.co.in&gt <br/>
        From: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        <span class="indent"> Thurs. Sept. 15, 6:02 PM</span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>


    <div class="email-body-archives">
        Why don't you call it the Mark Jumper Legacy Project. Or maybe something more banal, like "My Life." <br/><br/>

        And we don't need your confidentiality agreement. We have it already. <br/><br/>

        The truth is, nobody is going to use this archive, no matter how it is designed. Nobody comes down here.
        Furthermore, what you are trying to make is too big and too confusing. Your "chronology" is insane and
        completely pointless. And most importantly, no one is interested in the BDTEM Project. It's a failed project
        with little to show for itself. Perhaps if you had been more productive at the time you were working on it, you
        wouldn't feel the need to pad its archive with gimmicks. <br/><br/>

        Mr. Jumper. I have had enough. Go to your mountain lake and leave me alone. This non-archive of yours is NOT
        GOING TO HAPPEN.

    </div>
    <br/>
    <br/>

    <div class="archives-sig">

        Department of Archives<br/>

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/Archivesagain2.png"
             class="signature-images">

    </div>


    <!-- EMAIL 8-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        From: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        <span class="indent"> Thurs. Sept. 15, 3:57 PM</span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>


    <div class="email-body-wernicke">
        Cheryl, <br/><br/>

        I can't. I've signed a confidentiality agreement (which I've attached for placement in the archive, by the way).
        <br/><br/>

        What would you have me tell you? That I did not expect it to end up this way? Well, this is true. I was hoping
        for something much better, but so it was not to be for the BDTEM Project. <br/><br/>

        But I will not let its legacy be reduced to a stack of forgotten failures. <br/><br/>

        My final act before submitting the dissolution paperwork will be to ensure the faithful representation of the
        BDTEM Project in its Archive. <br/><br/>

        That's why I have been in contact with some of the other departments, gathering artifacts. We have been
        developing something called a Contextually Comprehensive Archive, which, among other things, addresses the issue
        of chronology by placing artifacts not in a linear timeline, but in a reticulate map of people, places, and
        projects; which is to say thematic contexts. More than just documentation, this is a resource for understanding.
        <br/><br/>

        What would you call this if not an archive? <br/><br/>

        Mark Jumper


    </div>
    <br/>
    <br/>

    <div class="wernicke-sig">
        C. Wernike <br/>
        Dept. of BLANK <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png"
             class="signature-images">
    </div>


    <div class="attachment-declare">

        1 Attachment

    </div>

    <br/>

    <div class="attachment-list">

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Attachment%20Images/WorksPageWhite.png"
             class="attachment-images"><br/>
        Confidentiality Agreement


    </div>
    <br/><br/>


    <!-- EMAIL 9-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        From: <span class="sender"> Dept. of Innovations </span> &ltanyone@innovations.dey.co.in&gt <br/>
        <span class="indent"> Thurs. Sept. 15, 3:30 PM </span> <br/>
        Subject: RE: Archive Development
    </div>
    <br/>
    <br/>


    <div class="email-body-innovations">
        Mark Jumper, <br/><br/>

        Hmmm...<br/>
        Lessons... <br/>
        Hmmm... You Deny Yours to Exist...??? <br/>
        What Use are Lessons if We do not Share them?<br/><br/>

        It makes Us wonder... Why would Mark Jumper be Afraid of his own Lessons? <br/><br/><br/>

        What was Your Mind, Mark Jumper, when it fell? <br/>
        Was one it of Greed? Of Vanity? ... Were You Broken already before You lost your Balance?<br/>
        ...Or was it only just the Foolhardy Mind of Youthful Ambition that drove You Deep to where the Devils go to
        die?<br/><br/>

        Is this what You are Afraid of...? That Data will reveal Your Devilry?<br/>
        Do You presume to think that Devils are born and that You are one of them? Are your Lessons so Dastardly that
        You CANNOT Share them????<br/><br/>

        Bring me the Fear that No-one else has Felt, and I will escort you to the Mountain Myself. I will climb the Peak
        with You. Higher and higher, until We burn Ourselves on the molten core.<br/><br/><br/>

        No... No, Mark Jumper. We can see that You have suffered too much for the Lessons of the BDTEM Project to be
        lost to Neglect. (Archives, those Frozen-Solid Goons!) <br/><br/><br/>

        Really... really... really...<br/>
        There is no Lake at the Top of the Mountain... There is only a Large Hole in the Ground where You will pour
        until full-filled by the murky Liquids of your Story.<br/><br/>

        But... Actually...<br/><br/>

        You are drowning in Your Mountain Lake, Mark Jumper, grasping at the straws of what you strain to recall...<br/>
        But now Grows the solid ground of Data!! <br/>
        Finally, Your straws have become an Island upon which You can climb searchingly for needles. <br/>
        From this vantage point, You can control the Flow of Your Mountain Stream as it Spills all down the Mountain and
        into the Valley. <br/>
        The Stream is there, it Cuts through the Mountain Paths, and the Paths of Everyone who also pass this way. <br/>
        Let them Drink its Waters, but...<br/><br/>

        Do not Condemn the Truth of your story to the Choices of Others.<br/><br/><br/>

        We Hear You, Data Dept.! <br/>
        Dates, locations... Quantifiable... Collectable Corroboration...<br/><br/>

        What can this Bring You, Mark Jumper?? Only Proof that You are a Devil?<br/><br/>

        Ha!...<br/><br/>

        Context...<br/>
        Context. Not Chronology.<br/>
        That's what Data can give us...<br/><br/>

        Layered Subjectivity, through Comprehensive Context, will give Us the Desired Objectivity of solid-Fact
        Artifacts. In the Age of Data, Facts are built, not observed... (facts are computer captured, computer modelled,
        and recreated for Controlled study, not merely observed...)<br/><br/>

        Context is our Pathogen, if Conduct is our Disease.<br/>
        You hope to:<br/>
        Dip the needle into the stew, Drop a drip into the dish, Watch and be enlightened, By catalogued, magnified
        invisibles...<br/><br/>

        No One Lives Free from the Long Chains of Context. Shackle shackle... Umbilical.<br/>
        This is how We are to be Known... This is how We are to Transfer our Knowledge Unspoiled...<br/><br/><br/>

        Yes... Okay...<br/><br/>

        How about an Archive that shows you: The room then the person then the day then action then the
        consequence...<br/>
        The smells sounds sights, etc. You know that list already...<br/>
        Then the message moral or meaning is Yours to behold in all the Exactness You require:::<br/><br/>

        The Giant Truths that hang on the tip of Your Tongue. The ancient inculcations it is Your duty to reveal...<br/><br/>

        Data Data everywhere<br/>
        <span class="indent">and all the breath did shrink</span><br/>
        Data Data everywhere<br/>
        <span class="indent">nor any tale to drink</span><br/><br/><br/>

        Oh, and We don't have Your papers anymore. We didn't need them so We threw them away.


    </div>
    <br/>
    <br/>

    <div class="innovations-sig">
        ...Department of <br/>
        Innovations and Breakthroughs... <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/InnovationsFinal.png"
             class="signature-images">
    </div>


    <!-- EMAIL 10-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt&#59; <span class="sender"> Dept. of Innovations </span>
        &ltanyone@innovations.dey.co.in&gt <br/>
        From: <span class="sender"> Dept. of Data  </span> &ltinfo@data.dey.co.in&gt <br/>
        <span class="indent"> Thurs. Sept. 15, 3:14 PM</span> <br/>
        Subject: RE: Archive Data
    </div>
    <br/>
    <br/>


    <div class="email-body-data">
        Seek and ye shall find! There was a bunch of Jumper-tinged stuff in one of the data batches I looked through.
        Dates, locations, documents, audio; you name it. My guess is there's plenty more to find if we keep it up.
        Everything's sort of scrambled and incomplete, but once you find a thread, you can tug on it for a while before
        it runs out. It got me thinking, between this raw stuff and your recollections, I bet we can recreate anything
        we don't already have. Sincerely, Me.<br/>
        Department of Data Collection Mining and Analysis


    </div>


    <div class="data-sig">
        <!--     Deptartment of Data Mining Collection and Analysis <br/> -->
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/DataFinal.png"
             class="signature-images">
    </div>


    <!-- EMAIL 11-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt
        From: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        <span class="indent"> Thurs. Sept. 15, 3:10 PM</span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>


    <div class="email-body-archives">
        The point of an Archive is to provide a comprehensive record of important facts, in chronological order. We have
        no way of controlling for interpretation, either right or wrong. All facts are subject to interpretation.<br/>
        I understand if you feel responsible for the failure of the BDTEM Project, but in its Archive is not the place
        to try to work this out. That is more suited to an autobiography. Maybe you should talk to a publisher.


    </div>
    <br/>
    <br/>


    <div class="archives-sig">

        Department of Archives<br/>

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/Archivesagain2.png"
             class="signature-images">

    </div>


    <!-- EMAIL 12-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        From: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        <span class="indent"> Thurs. Sept. 15, 2:09 PM </span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>

    <div class="email-body-wernicke">
        Cheryl, <br/><br/>

        I am concerned that if it is by the existing materials of the BDTEM Project alone that we are to know its story,
        all that will be left is a few pieces of paper and audio of a hastily conducted exit interview. There is so much
        room for misinterpretation. I believe the BDTEM Project story must be told so that it can be understood. And
        then it must be allowed to rest peacefully, somewhere quiet and empty. <br/><br/>

        As the Dept. of Archives, you have the obligation to see that this is what happens. <br/><br/>

        Thanks, <br/>
        Mark Jumper <br/><br/>

        P.S. I want to apologize for the argument in the hallway. I would like to clarify that I said you were
        "anti-semantic" and that I'd rather not involve Mr. Pie.


    </div>
    <br/>
    <br/>

    <div class="wernicke-sig">
        C. Wernike <br/>
        Dept. of BLANK <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png"
             class="signature-images">
    </div>


    <!-- EMAIL 13-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt&#59; <span class="sender"> Dept. of Innovations </span>
        &ltanyone@innovations.dey.co.in&gt <br/>
        From: <span class="sender"> Dept. of Data  </span> &ltinfo@data.dey.co.in&gt <br/>
        <span class="indent"> Thurs. Sept. 15, 3:53 AM</span> <br/>
        Subject: RE: Archive Data
    </div>
    <br/>
    <br/>


    <div class="email-body-data">
        Oh no, a forwarded message from Wernicke! Haha! I thought my inbox was haunted for a minute there! Sure, we have
        LOTS of unanalyzed Data stored up. I'm sure Jumper's creeping around in there somewhere. I will have a
        looooooook!!!! Glad to have you back, by the way. Your pals at the Data Dept. P.S. Haha! I remember those guys
        from the Dept. that closed down. You know, they all had to get other jobs after that! I wonder where they ended
        up???? <br/>Department of Data Collection Mining and Analysis


    </div>


    <div class="data-sig">
        <!--     Deptartment of Data Mining Collection and Analysis <br/> -->
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/DataFinal.png"
             class="signature-images">
    </div>


    <!-- EMAIL 14-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> Dept. of Innovations </span> &ltanyone@innovations.dey.co.in&gt <br/>
        From: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        <span class="indent"> Wed. Sept. 14, 1:44 PM </span> <br/>
        Subject: RE: Archive Development
    </div>
    <br/>
    <br/>

    <div class="email-body-wernicke">
        Wizard wisdoms? I'm not sure what you expect of me. I have no lessons to impart. <br/><br/>

        Anyway, data will require analysis and I don't have time for analysis. I know need to move on. I just want a
        chance to explain things from my perspective before I exile myself to the mountains to stare at lakes and
        evaporate with the morning dew! <br/><br/>

        As it is, I will have to leave the archive only partially improved. I very much disagree with the Dept. of
        Archives' method of organization. A chronology of the BDTEM Project is necessarily tangled, as many of the BDTEM
        sub-Projects were not finished before new ones were started, but I don't think I will be able to convince them
        to agree with me. Some things must be left undone. <br/><br/>

        I appreciate your alacrity, but I don't think data is my answer. If you still have the P'ortly Duples papers,
        though, that will be enough. <br/><br/>

        Thanks,<br/>
        Mark Jumper


    </div>
    <br/>
    <br/>

    <div class="wernicke-sig">
        C. Wernike <br/>
        Dept. of BLANK <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png"
             class="signature-images">
    </div>


    <!-- EMAIL 15-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        From: <span class="sender"> Dept. of Innovations </span> &ltanyone@innovations.dey.co.in&gt <br/>
        <span class="indent"> Wed. Sept. 14, 1:18 PM </span> <br/>
        Subject: RE: Archive Development
    </div>
    <br/>
    <br/>


    <div class="email-body-innovations">
        Mark Jumper, <br/><br/>

        Oh! What an idea you have! A Speaking Archive...<br/>
        It makes Us think... What is an Archive? A computerized List of Myths?!<br/>
        Our Grand New Ideas kept, just the same as our Bad Old Ideas; the past stashed; Nostalgia become learned and
        wise???<br/><br/>

        Hmmm... It makes Us wonder... Why do We want to Listen to You?<br/>
        Is it because You are Mark Jumper? Mark Jumper who can tell Us what He remembers...<br/><br/>

        Posterity... There is a friend for you. A long-at-last audience for Your miserable Failures. <br/><br/>

        What can You say to Us?<br/><br/><br/>

        You can look forward and make claims.<br/>
        You can say that the future will look similar to the present.<br/>
        You can make claims that will be ridiculous to the future:<br/>

        <p class="indent">Say things that are narrow and short<br/>
            Say things that are obvious<br/>
            Say things that evoke only a limited future:<br/></p>

        <p class="indent-two">Limited by your cloudy vision,<br/>
            Limited by the impossibleness of converging inevitabilities,<br/>
            Limited by the simplest things You can think of.</p>

        You can say these things because You are from the past.<br/>
        <span class="indent">(Even though You will be wrong),<br/></span>
        The people of the future will recognize what you have<br/> said as being what they are seeing,<br/>
        <span class="indent">(Even though it will look different).<br/></span>
        They have read Your books.<br/>
        <span class="indent">(They will believe you),<br/></span>
        They will agree that You remember what You have seen<br/>
        <span class="indent">(Because when You tell them about the future),<br/></span>
        And are projecting into the future,<br/>

        <span class="indent">(They will know that you mean nothing by it)<br/></span>
        <br/><br/>

        Hmmm...<br/>
        We see your need for Completion... Who will Listen to an Incomplete Archive?<br/>
        And Yet, what will Complete an Archive when Artifacts are scarce and Memories are not to be
        accepted????<br/><br/>

        Hmmm.... Hmm... Hm...<br/><br/><br/>

        Data, Data! Oh! <br/><br/>

        Data speaks Pellucid the Truths we are wont not to notice.<br/>
        And it is left behind by Us wherever We go!<br/><br/>

        Don't hurry off to Your Mountain Lake just yet, Mark Jumper, if You want to Complete Your Archive.<br/>
        Control your Data and You Control your Tale!<br/><br/><br/>


        We will ask the Collector in the Data Dept... He will surely find some Residual Ghosts of Data of Jumper that
        You will use to seed Your Narratives... and make happy the Archive Dept.<br/><br/>

        There is Your Archive, Mark Jumper. Full and Brimming with the Wizard Wisdoms fought for and gained, and backed
        up by Memory refined. Isn't this what You mean when You say Complete??


    </div>
    <br/>
    <br/>

    <div class="innovations-sig">
        ...Department of <br/>
        Innovations and Breakthroughs... <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png"
             class="signature-images">
    </div>


    <!-- EMAIL 16-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- New Message ---- </span> <br/>
        To: <span class="sender"> Dept. of Innovations </span> &ltanyone@innovations.dey.co.in&gt <br/>
        From: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        <span class="indent"> Wed. Sept. 14, 12:25 AM </span> <br/>
        Subject: Archive Development
    </div>
    <br/>
    <br/>


    <div class="email-body-wernicke">
        Be advised, this is a borrowed email address. This is Mark Jumper. I will be in the office for a few days while
        I finalize the dissolution of the BDTEM Project and its related Depts. <br/><br/>

        Which is actually what I'd like to talk to you about. I've been in touch with the Dept. of Archives about the
        BDTEM Project Archive and we've run into a disagreement.<br/><br/>

        Their archive, is grossly incomplete. If it were up to them, they would simply shuffle together a stack of
        papers, slap a Document Checklist on top, and take the whole file down the Dept of Defunctory Storage to be
        forgotten. <br/><br/>

        I am trying to get them to allow me to record an Audio Narrative debriefing to account for what they are missing
        (see example attached), but they insist on contemporary artifacts alone. Unfortunately, most of those were
        either lost or destroyed.<br/><br/>

        I am hoping you may still have materials regarding the P'ortly Duples Project, which, as I recall it, was the
        subject of an unofficial meeting we had last December.<br/><br/>

        If I can give them something tangible that comes from an event they did not know about, I might be able to
        convince them of my value in providing those crucial missing details that would otherwise be impossible to
        collect.<br/><br/>

        Anything you can do to help me before the end of the week would be greatly appreciated. I have plans to retire
        to a lake on a mountain and say goodbye to all this. <br/><br/>

        Thanks,<br/>
        Mark Jumper


    </div>
    <br/>

    <div class="wernicke-sig">
        C. Wernike <br/>
        Dept. of BLANK <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png"
             class="signature-images">
    </div>


    <div class="attachment-declare">

        1 Attachment

    </div>

    <br/>

    <div class="attachment-list">

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Attachment%20Images/DigestPageScienceBampW.png"
             class="attachment-images"><br/>
        Audio Narrative Example


    </div>
    <br/><br/>


    <br/>
    <br/>
    <br/>
    <br/>


    <h1 class="email-header">
        <hr/>
        Project Request: Archive
        <hr/>
    </h1>


    <!-- EMAIL 17-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        From: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        <span class="indent"> Tues. Sept. 13, 5:06 PM</span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>


    <div class="email-body-archives">
        Well then, as I see it, the matter is closed.

    </div>
    <br/>
    <br/>

    <div class="archives-sig">

        Department of Archives<br/>

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/Archivesagain2.png"
             class="signature-images">

    </div>


    <!-- EMAIL 18-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        From: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        <span class="indent"> Tues. Sept. 13, 1:21 PM </span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>

    <div class="email-body-wernicke">
        Cheryl,<br/><br/>

        No, I've lost too much time to the BDTEM Project already. As I told you when you first approached me, I'm ready
        to let it fade into memory, to finally set down my ambition and untangle my mind. I am wiser, but wearied, and
        too scarred to pick it back up now.<br/><br/>

        The responsibility of this Archive rests in your hands.<br/><br/>

        Thanks,<br/>
        Mark Jumper


    </div>
    <br/>
    <br/>
    <br/>

    <div class="wernicke-sig">
        C. Wernike <br/>
        Dept. of BLANK <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png"
             class="signature-images">
    </div>


    <!-- EMAIL 19-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        From: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        <span class="indent"> Tues. Sept. 13, 12:59 PM </span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>


    <div class="email-body-archives">
        Mr. Jumper, <br/><br/>

        We don't need your opinions and memories. We need facts, tangible evidence, records.<br/><br/>

        If it's so important to you that you have something to show for yourself, maybe you should not dissolve, but
        restart the BDTEM Project...<br/><br/>

        Cheryl

    </div>
    <br/>
    <br/>

    <div class="archives-sig">

        Department of Archives<br/>

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/Archivesagain2.png"
             class="signature-images">

    </div>


    <!-- EMAIL 20-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        From: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        <span class="indent"> Tues. Sept. 13, 9:45 AM </span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>

    <div class="email-body-wernicke">
        Sorry, I didn't mean to send that yet. <br/><br/>

        As I was saying. I don't think a simple chronology is the answer. Maybe there is some other way?<br/>
        3. An incomplete archive is effectively a non-existent one. Thus, the third charge of your mandate is rendered
        unfulfilled.<br/><br/>

        I propose that we make a series of recordings in which I lay out, in detail, all the events, projects, people,
        etc., of the BDTEM Project. Like a sort of narrative or debriefing.<br/><br/>

        I only have a few days left before I leave DC/DI forever. I'm going to the mountains, I think, to live next to a
        lake in peace and solitude. Time is running out. If we start now, I should be able to get through a reasonably
        in-depth recollection of events.<br/><br/>

        Thanks,<br/>
        Mark Jumper


    </div>
    <br/>
    <br/>
    <br/>

    <div class="wernicke-sig">
        C. Wernike <br/>
        Dept. of BLANK <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png"
             class="signature-images">
    </div>


    <!-- EMAIL 21-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        From: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        <span class="indent"> Tues. Sept. 13, 9:34 AM</span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>

    <div class="email-body-wernicke">
        Cheryl,<br/><br/>

        Regarding your Mandate, I see a failing on your part for each of its three charges:<br/><br/>
        1. I have first hand knowledge that is being ignored.<br/>
        2. I hardly think that merely putting the main events in order really does justice to the efforts involved.<br/>
        3. <br/><br/><br/><br/>


    </div>
    <br/>

    <div class="wernicke-sig">
        C. Wernike <br/>
        Dept. of BLANK <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png"
             class="signature-images">
    </div>


    <!-- EMAIL 22-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        From: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        <span class="indent"> Tues. Sept. 13, 9:12 AM </span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>


    <div class="email-body-archives">
        Mr. Jumper,<br/><br/>

        Thanks again for your offer of help, but I assure you that it is not necessary. We really have everything we
        need. Read our Official Mandate below and you will see that we have already fulfilled our Archival
        obligations.<br/><br/>

        1. Collect Existing Material<br/>
        2. Chronologize Pertinent Artifacts<br/>
        3. Provide Safe Storage for Future Reference<br/><br/>

        Relax and enjoy your last few days at DC/DI!<br/><br/>

        Cheryl Whist

    </div>
    <br/>
    <br/>

    <div class="archives-sig">

        Department of Archives<br/>

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/Archivesagain2.png"
             class="signature-images">

    </div>


    <!-- EMAIL 23-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        From: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        <span class="indent"> Mon. Sept. 12, 8:31 PM </span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>

    <div class="email-body-wernicke">
        Cheryl, <br/><br/>

        Thanks for sending that. Very helpful! I have some concerns, though. The interviewer said some things that make
        me think you are missing a lot of material. I worry that the BDTEM Project won't be properly represented in your
        Archive.<br/><br/>

        Do you know that I have some of my papers still? The rest I can recall from memory. I think I can add a lot of
        detail if you'd just let me take a crack at it.<br/><br/>

        Thanks,<br/>
        Mark Jumper


    </div>
    <br/>
    <br/>

    <div class="wernicke-sig">
        C. Wernike <br/>
        Dept. of BLANK <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png"
             class="signature-images">
    </div>


    <!-- EMAIL 24-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- Message Reply ---- </span> <br/>
        To: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        From: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        <span class="indent"> Mon. Sept. 12, 4:56 PM </span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>


    <div class="email-body-archives">
        Mr. Jumper,<br/><br/>

        Thank you for your message. We appreciate your offer of help. You've already given us plenty. We have everything
        we need to complete the BDTEM Project Archive. In fact, we've already begun sealing the files!<br/><br/>

        You helped us put all the events into chronological order, which solved some filing issues.<br/><br/>

        However, if you are worried that you forgot something, feel free to review the audio from your exit interview
        (attached) and make any additions you like. We will consider them for inclusion in the Archive.<br/><br/>

        Thanks again, Mr. Jumper, and good luck with the rest of your paperwork!<br/><br/>


        Cheryl Whist

    </div>
    <br/>
    <br/>

    <div class="archives-sig">

        Department of Archives<br/>

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/Archivesagain2.png"
             class="signature-images">

    </div>


    <div class="attachment-declare">

        1 Attachment

    </div>

    <br/>

    <div class="attachment-list">

        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Attachment%20Images/INFO.png"
             class="attachment-images"><br/>
        Exit Interview Audio


    </div>
    <br/><br/>


    <!-- EMAIL 25-->

    <br/>
    <br/>
    <br/>

    <div class="email-header">
        <span class="indent">---- New Message ---- </span> <br/>
        To: <span class="sender"> Dept. of Archives </span> &ltcwhist@archive.dey.co.in&gt <br/>
        From: <span class="sender"> C. Wernicke </span> &ltcwernicke@de.ad.dey.co.in&gt <br/>
        <span class="indent"> Mon. Sept. 12, 3:43 PM </span> <br/>
        Subject: RE: Archive Request
    </div>
    <br/>
    <br/>

    <div class="email-body-wernicke">
        Be advised, this is a borrowed email address. I will not be staying at DC/DI long enough to justify reinstating
        my old address. Sorry for any confusion this may cause. <br/><br/>

        As to the interview you conducted on myself earlier today, I confess that I'm dissatisfied with the completeness
        and accuracy of my answers. And I must further confess that I take issue with the depths and pointedness of your
        questions. <br/>
        Of course, I do not mean this as any offence to you and I am sure you also meant none by it to me. Anyway, it is
        likely that I am most heavily to blame, as I did indeed have most of my materials destroyed upon my hasty
        exit.<br/>
        With that in mind, I've concluded that I owe you some digging retrieval of pertinent info from amongst the
        rubble of my mind, so that I might offer some assistance in reconstructing a proper (and complete) timeline of
        the Events and Activities of the BDTEM Project. I was there through everything, after all!<br/><br/>

        I will be here filling out Departmental Dissolutionment Paperwork until the end of the week.<br/>
        Would you be willing to send me the latest version of your timeline so that I might make some notes? I will
        better be able to fill in your gaps if I know which ones you have.<br/><br/>

        Mark Jumper


    </div>
    <br/>
    <br/>

    <div class="wernicke-sig">
        C. Wernike <br/>
        Dept. of BLANK <br/>
        <img src="http://i183.photobucket.com/albums/x129/tylercannan/Signatures/WernickeFinal.png"
             class="signature-images">
    </div>


    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


    <!-- EMAIL 25-->


    <div class="prologue">
        <div style="margin: 0 auto; width: 100%; text-align: center">Prologue:</div><br/><br/>
        Having been gone for some amount of time, Mark Jumper returns one day to find that Dey Company/Dey Industries
        has much changed.<br/>
        Bob Dey is dead and entombed in cement on the top floors of the building.
        The BDTEM offices are empty and languishing.<br/>
        Even the midnight Fears and Superstitions have abandoned their late-night hallway lurkings. <br/><br/>

        There is no longer a place for Mark Jumper at DC/DI. <br/><br/>

        For this he is glad. "Goodbye," is all he plans to say. His official resignation, so at last he can resign
        himself to resting peace.<br/>
        But a serendipitous meeting in the hall asks him for a small favour of information. "Will you, please, help us
        fill in a gap or two in the BDTEM timeline?" asks the Dept of Archives.<br/>
        Reluctantly he relents and gives what he can, only to find that he is dissatisfied with the completeness of his
        answers, and the shallowness of their questions. <br/>
        "Do they even know what gaps they have and what gaps they do not?" He'd rather not think about it.<br/>
        But, there on the 12th floor, in the Dept. of Depts., dissolving the BDTEM Project by stokes of the pen, a
        week's worth of paperwork, he fathoms an opportunity to fill in the gaps unfilled, and to nudge open a few new
        gaps where surely gaps should be.<br/>
        He slinks secretly into an idle office and borrows wernicke.c@bdtem.co.in to request resources for the
        completion of his Archive.


    </div>
</div>