<nav class="centered navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="bdtem-title">

            <span style="font-size: 1.8vmin; letter-spacing: 0.6vw">
                WELCOME TO THE DEPARTMENT OF ARCHIVES
            </span>

        <br/>

        <div class="bdtem-subtitle sans-serif-light">
            PROJECT NO. 2.0013.B-9.006.1289.11<br/>
            AKA<br/>
        </div>

        <b class="bdtem-title">BOB DEY'S TANK ENGINE MAN</b>
    </div>

</nav>

<div class=" ui-view-wide">
    <svg height="100%" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600"
         id="info-graphic"
         margin="0 auto" preserveAspectRatio="none" style="display: block;">

        <!--<path d="M0 100 H 600-->
        <!--M0 120 H 600-->
        <!--M0 140 H 600-->
        <!--M0 160 H 600-->
        <!--M0 180 H 600-->
        <!--M0 200 H 600-->
        <!--M0 220 H 600-->
        <!--M0 240 H 600-->
        <!--M0 260 H 600-->
        <!--M0 280 H 600-->
        <!--M0 300 H 600-->
        <!--M0 320 H 600-->
        <!--M0 340 H 600-->
        <!--M0 360 H 600-->
        <!--M0 380 H 600-->
        <!--M0 400 H 600-->
        <!--M0 420 H 600"-->
              <!--stroke="#000" stroke-width="1"/>-->

        <g id="mission" class="info-page-letter" onmouseover="highlightAllExcept(this)" onmouseout="resetAllLetters()">
            <text class="info-page-small" style="text-anchor: middle" x="4.5%" y="49.5%">MISS</text><!--
                            --><text x="6%" y="33%" fill="#FAFAFA" class="info-page">I</text><!--
                            --><text class="info-page-small" style="text-anchor: middle" x="15%" y="49.5%">ON</text>
            </g>

        <g id="analysis" class="info-page-letter" onmouseover="highlightAllExcept(this)" onmouseout="resetAllLetters()">
            <text class="info-page-small" style="text-anchor: middle" x="22%" y="59.5%">
                <tspan dx="13.5%">A</tspan>
                <tspan dx="18%">ALYSIS</tspan>
            </text><!--
                            --><text x="20%" y="33%" fill="#FAFAFA" class="info-page">N</text>
        </g>

        <g id="faq" class="info-page-letter" onmouseover="highlightAllExcept(this)" onmouseout="resetAllLetters()">
            <text x="50%" y="33%" fill="#FAFAFA" class="info-page">F</text><!--
            --><text class="info-page-small" style="text-anchor: middle" x="59.5%" y="49.5%">AQ</text>
        </g>

        <g id="about" class="info-page-letter" onmouseover="highlightAllExcept(this)" onmouseout="resetAllLetters()">
            <text class="info-page-small" style="text-anchor: middle" x="74%" y="59.5%">AB</text><!--
                            --><text x="72%" y="33%" fill="#FAFAFA" class="info-page">O</text><!--
                            --><text class="info-page-small" style="text-anchor: middle" x="95.5%" y="59.5%">UT</text>
        </g>

            <path d="M0 100 H 600
        M0 120 H 600
        M0 140 H 600
        M0 160 H 600
        M0 180 H 600
        M0 200 H 600
        M0 220 H 600
        M0 240 H 600
        M0 260 H 600
        M0 280 H 600
        M0 300 H 600
        M0 320 H 600
        M0 340 H 600
        M0 360 H 600
        M0 380 H 600
        M0 400 H 600
        M0 420 H 600"
                  stroke="#000" stroke-width="1"/>

        </g>
    </svg>
</div>