<div class="centered">

    <br/>
    <h1>
    Recent Additions/Discoveries
    </h1>

    by way of email

    <br/>
    <br/>

    <p>Updates and explanations pertaining to artifacts taken from materials archived during or after the BDTEM project.</p>

    <br/>

    <form method="POST"
          class="simple-form"
          action="https://tinyletter.com/Department_of_Archives"
          style ="letter-spacing: .5vw">
        <div>
            <input id="email" type="email" name="email" placeholder="your@email"/>
        </div>

        <br/>

        <div class="centered">
            <input type="image"
                   class="logo"
                   style="text-align: center"
                   name="submit"
                   ng-click="$close('submitted'); submitContact(contact)"
                   src="images/submitLogo.png"
                   alt="Let me tell you a secret."/>
        </div>
    </form>
</div>
