<div class="centered">

    <br/>
    <h2>
    RECENT ADDITIONS/DISCOVERIES
    </h2>

    by way of email

    <br/>
    <br/>

    <h6>UPDATES AND EXPLANATIONS PERTAINING TO ARTIFACTS TAKEN FROM MATERIALS ARCHIVED DURING OR AFTER THE bdtem PROJECT.</h6>

    <br/>

    <form method="POST"
          class="simple-form"
          action="https://tinyletter.com/Department_of_Archives"
          style ="letter-spacing: .5vw">
        <div>
            <input id="email" type="email" name="email" placeholder="your@email"/>
        </div>

        <br/>

        <div class="centered">
            <input type="image"
                   class="logosubmit"
                   style="text-align: center"
                   name="submit"
                   ng-click="$close('submitted'); submitContact(contact)"
                   src="images/submitLogo.png"
                   alt="Let me tell you a secret."/>
        </div>
    </form>
</div>
