<nav class="centered navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="bdtem-title">

            <span style="font-size: 1.8vmin; letter-spacing: 0.6vw">
                WELCOME TO THE DEPARTMENT OF ARCHIVES
            </span>

        <br/>

        <div class="bdtem-subtitle sans-serif" style="font-size: 1.5vmin; letter-spacing: 0.4vw">
            PROJECT NO. 2.0013.B-9.006.1289.11<br/>
            <i>AKA</i><br/>
        </div>

        <b class="bdtem-title">BOB DEY'S TANK ENGINE MAN</b>
    </div>

</nav>

<div class="ui-view-wide center-align-contents">

    <div ng-controller="OrbCtrl" ng-click="startVideo()" class="orb"></div>

</div>
