<div class="videogular-container middle-video-container" ng-controller="VideoCtrl as controller">

    <videogular vg-player-ready="controller.onPlayerReady($API)"
                vg-update-state="controller.onPlayerStateChange($state)"
                vg-complete="controller.closeVideo()"
                vg-theme="controller.config.theme.url">

        <vg-media vg-src="controller.config.sources"
                  vg-tracks="controller.config.tracks">
        </vg-media>

        <vg-controls vg-autohide="controller.config.plugins.controls.autoHide"
                     vg-autohide-time="controller.config.plugins.controls.autoHideTime">
            <vg-play-pause-button id="videoPlay" onClickPlayPause="controller.customClickOverlayPlay"></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>
            <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button></vg-fullscreen-button>
            <div class='custom-button' ng-click="controller.closeVideo()">CLOSE</div>
        </vg-controls>


    </videogular>

</div>
